header{
    text-align: center;
}
section{
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size:medium;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid black;
    
}
#submit{
    margin-left: 40%;
    margin-right: 40%;
}
